@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body{
  background-image: url('../public/car1.jpg');
  background-position: 'center'; 
  background-size: 'cover'; 
  width: '100vw';
  height: '100vh'; 
  background-repeat: no-repeat;
} 

#mainHeading{
  font-family: 'Racing Sans One', cursive;
}

#slogan{
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 2px;
}

h1 {
  font-family: 'Racing Sans One', cursive;
}

p{
  font-family: 'Racing Sans One', cursive;
}

#carlogo{
  opacity: 1.0;
}

.navbar {
  background-color:rgba(0,0,0,0.7);
}

.shadow {
  background: rgba(0,0,0,0.1);
}

#dropdownMenuButton1{
  font-family: 'Racing Sans One', cursive;
  letter-spacing: 1px;
  color: silver;
}

#dropdownMenuButton1:hover{
  background-color: black;;
  opacity: .5;
}

.dropdown-menu{
  background: rgba(0,0,0,0.1);
}

.card-body {
  background: rgba(0,0,0,0.7);
}

.card-title{
  color: silver;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 2px;
}

.card-subtitle{
  color: rgb(166,166,166);
  font-family: 'Racing Sans One', cursive;
  font-weight: 100;
}

#vehModSub{
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 2px;
}

#name{
  background: rgba(0,0,0,0.2);
  border-color: rgba(0,0,0,0.1);
}

#createBtn {
  background: rgba(0,0,0,0.3);
  color: white;
  border-color: rgba(0,0,0,0.1);
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 2px;
}

#createBtn:hover {
  background: rgba(0,0,0,0.7);
  color: silver;
}

#color{
  background: rgba(0,0,0,0.2);
  border-color: rgba(0,0,0,0.2);
}

#year{
  background: rgba(0,0,0,0.2);
  border-color: rgba(0,0,0,0.2);
}

#vin{
  background: rgba(0,0,0,0.2);
  border-color: rgba(0,0,0,0.2);
}

#model{
  background: rgba(0,0,0,0.2);
  border-color: rgba(0,0,0,0.2);
}

#autoCreateBtn{
  background: rgba(0,0,0,0.2);
  border-color: rgba(0,0,0,0.2);
  color: white;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 2px;
}

#autoCreateBtn:hover {
  background: rgba(0,0,0,0.7);
  color: silver;
}

#picture_url{
  background: rgba(0,0,0,0.2);
  border-color: rgba(0,0,0,0.2);
}

#manufacturer_id{
  background: rgba(0,0,0,0.2);
  border-color: rgba(0,0,0,0.2);
}

#vehicleModelBtn{
  background: rgba(0,0,0,0.2);
  border-color: rgba(0,0,0,0.2);
  color: white;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 2px;
}

#vehicleModelBtn:hover {
  background: rgba(0,0,0,0.7);
  color: silver;
}

#liData{
  color: silver;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 2px;
}

#vehicleModelContainer {
  overflow-y: auto;
  max-height: 700px;
}

#scrollList{
  font-style: italic;
  color: black;
  font-weight: 300;
  opacity: .5;
  font-family: 'Racing Sans One', cursive;
  font-weight: 400;
}

#autoInfoContainer{
  overflow-y: auto;
  max-height:700px;
}

#autoListScroll{
  font-style: italic;
  color: black;
  font-weight: 300;
  opacity: .5;
  font-family: 'Racing Sans One', cursive;
}

.dropdown-item{
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 1px;
}

.dropdown-item.active{
  background-color: rgba(0,0,0,0.4);
}

#id{
  background: rgba(0,0,0,0.2);
  border-color: rgba(0,0,0,0.2);
}

#salesPersBtn{
  background: rgba(0,0,0,0.2);
  border-color: rgba(0,0,0,0.2);
  color: white;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 2px;
}

#salesPersBtn:hover {
  background: rgba(0,0,0,0.7);
  color: silver;
}

#address{
  background: rgba(0,0,0,0.2);
  border-color: rgba(0,0,0,0.2);
}

#phone{
  background: rgba(0,0,0,0.2);
  border-color: rgba(0,0,0,0.2);
}

#customerBtn{
  background: rgba(0,0,0,0.2);
  border-color: rgba(0,0,0,0.2);
  color: white;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 2px;
}

#customerBtn:hover {
  background: rgba(0,0,0,0.7);
  color: silver;
}

#automobile{
  background: rgba(0,0,0,0.2);
  border-color: rgba(0,0,0,0.2);
}

#sales_person{
  background: rgba(0,0,0,0.2);
  border-color: rgba(0,0,0,0.2);
}

#customer{
  background: rgba(0,0,0,0.2);
  border-color: rgba(0,0,0,0.2);
}

.input-group-text{
  background: rgba(0,0,0,0.2);
  border-color: rgba(0,0,0,0.2);
  color: white;
}

#price{
  background: rgba(0,0,0,0.2);
  border-color: rgba(0,0,0,0.2);
}

#newSaleBtn{
  background: rgba(0,0,0,0.2);
  border-color: rgba(0,0,0,0.2);
  color: white;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 2px;
}

#newSaleBtn:hover {
  background: rgba(0,0,0,0.7);
  color: silver;
}

#price::placeholder{
  color:white;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 2px;
}

li {
  color: silver;
  font-family: 'Racing Sans One', cursive;
  font-weight: 300;
}

#salesScroll{
  font-style: italic;
  font-weight: 300;
  color: black;
  opacity: .8;
  font-family: 'Racing Sans One', cursive;
}

#salesContainer{
  overflow-y: auto;
  max-height:700px;
}

.table{
  background:rgba(0,0,0,0.7);
}

th{
  color: silver;
  font-family: 'Racing Sans One', cursive;
  font-weight: 300;
}

td{
  color: silver;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  letter-spacing: 1px;
}

/*Appointment form */
#tech{
  background: rgba(0,0,0,0.2);
  border-color: rgba(0,0,0,0.2);
}

#owner{
  background: rgba(0,0,0,0.2);
  border-color: rgba(0,0,0,0.2);
}

#reason{
  background: rgba(0,0,0,0.2);
  border-color: rgba(0,0,0,0.2);
}

#date{
  background: rgba(0,0,0,0.2);
  border-color: rgba(0,0,0,0.2);
}

#time{
  background: rgba(0,0,0,0.2);
  border-color: rgba(0,0,0,0.2);
}

#vip{
  background: rgba(0,0,0,0.2);
  border-color: rgba(0,0,0,0.2);
}

#appBtn{
  background: rgba(0,0,0,0.2);
  border-color: rgba(0,0,0,0.2);
  color: white;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 2px;
}

#appBtn:hover {
  background: rgba(0,0,0,0.7);
  color: silver;
}

label{
  color:white;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 2px;
}
.form-select{
  color: white;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 2px;
}

h1{
 color: gray;
}

#upcomingApps{
  font-style: italic;
  font-weight: 300;
  color:black;
  font-family: 'Racing Sans One', cursive;
}

#searchBar{
  background-color:rgba(0,0,0,0.2);
}

#appointData{
  color: silver;
}

#finished {
  font-family: "Bebas Neue", cursive;
  letter-spacing: 2px;
}

#cancel {
  font-family: "Bebas Neue", cursive;
  letter-spacing: 2px;
}

#techBtn{
  background: rgba(0,0,0,0.2);
  border-color: rgba(0,0,0,0.2);
  color: white;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 2px;
}

#techBtn:hover {
  background: rgba(0,0,0,0.7);
  color: silver;
}

#appointmentContainer{
  overflow-y: auto;
  max-height:700px;
}